//northslope.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.4429d415-d244-4008-87d1-a3828b94e463/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@deep-research-service-user:registry=https://northslope.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.4429d415-d244-4008-87d1-a3828b94e463/contents/release/npm

//northslope.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@gmahler-deep-research-service-user:registry=https://northslope.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.f40896ea-69f2-42b7-a9da-68b280a4a7fa/contents/release/npm/